body, html, * {
	margin: 0;
	padding: 0;
}

#app {
	font-family: arial;

	.hidden {
		display: none;
	}

	section {
		padding: 20px;
	}

	.logout-wrapper,
	.login-wrapper {
		text-align: center;

		button {
			height: 50px; 
			width: 150px;
			color: #f7f7f7;
			font-size: 18px;
			background-color: #3b5998;
			border-radius: 5px;
			border: 1px solid #b2b2b2;
			cursor: pointer;
			margin: 10px;

		 	transition: background-color 0.3s ease;
			-webkit-transition: background-color 0.3s ease;
			-moz-transition: background-color 0.3s ease;
			-o-transition: background-color 0.3s ease;

			&:hover {
				background-color: #4b69A8;
			}
		}
	}
}