
label, .button {
	margin-top: 30px;
	display: block;

	.req {
		color: red; // Required asterisk
	}
}

.button {
	cursor: pointer;
	background-color: $secondaryColor;
	color: #FFF;
	height: 30px;
	width: 120px;
	text-align: center;
	line-height: 30px;
	padding: 0 6px;
	border-radius: 3px;
	border: none;

 	transition: background-color 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;

	&:hover {
		background-color: darken($secondaryColor, 10%);
	}
}

input {
  width: 360px;
  color: #777;

  @media #{$isMobile} {
  	width: 100%;
  }

	&[type=text],
	&[type=number] {
		height: 25px;
    border: none;
    border-bottom: 1px solid #DDD;
    font-size: 15px;
	}
}

.select {
	display: inline-block;
	position: relative;

  &:after {
  	content: '\25BF';
  	position: absolute;
  	top: 3px;
  	right: 4px;
  	height: 25px;
  	color: #444;
  	pointer-events: none;
  }

}

select {
	height: 26px;
	font-size: 15px;
  -webkit-appearance: none;
  border-color: #BBB;
  border-radius: 3px;
  padding: 0 18px 0 10px;
  position: relative;
  background-color: #FFF;
}

.form {
	select {
		min-width: 300px;
	}
}

table {
	border: 1px solid #666;

	thead {
		tr {
			background-color: cornflowerblue;
			th {
				border-bottom: 1px solid #666;
			}
		}
	}

	tbody {
		tr {
			&:nth-child(odd) {
				background-color: #EEE;
			}

			&.selected {
				background-color: lightgreen;
				border: 1px solid $secondaryColor;
			}
		}
	}

	td, th {
		padding: 8px;

		&:not(:last-of-type) {
			border-right: 1px solid #666;
		}
	}
}

.link {
	color: $secondaryColor;
	cursor: pointer;

	&:hover {
		color: darken($secondaryColor, 10%);
		text-decoration: underline;
	}
}
