.messaging {
	padding: 0 20px;
	color: #FFF;
	position: fixed;
	height: 100%;
	width: 100%;
	line-height: 38px;
	z-index: 100;

	opacity: 0.9;
	background-color: #666;
	transition: opacity .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out;
	-webkit-transition: opacity .4s ease-in-out;

	.message {
		width: 30%;
		display: block;
		margin: 20% auto;
		padding: 3%;
		position: relative;
		border-radius: 5px;
		box-shadow: 3px 3px 13px #333;

		.close {
			cursor: pointer;
			position: absolute;
			top: -2px;
			right: 8px;
			font-size: 20px;

			&:hover {
				color: #DDD;
			}
		}
	}

	&.invisible {
		opacity: 0;
		visibility: hidden;
	}

	&.notify {
		.message {
			background-color: #3C2;
		}
	}

	&.warn {
		.message {
			background-color: red;
		}
	}
}
